<mat-card>
    <mat-card-content>
      <h1>Hi Reviewer!</h1>
      <span> Welcome to Project generation page! </span>
      <span><br></span>
      <span> However as you can see it is not implemented yet and takes 1st place in my long todo list. List of tasks that I wanted to, but had no time to implement. <br></span>
      <span><br></span>
      <span>TODO:</span>
      <ol>
        <li> Project generation app.</li>
        <li> For Back End: Persist task's execution progress in shut down hook and pick up this tasks for execution on start up. There are some orphan task that are indicated as running, but they are not due to app restart.</li>
        <li> Protractor selenium tests.</li>
        <li> Pagination and integration with the router that uses query params: offset and limit.</li>
        <li> Spinners, loaders for promisses.</li>
        <li> Edge and error case handling, transparent interaction with the user, modal windows.</li>
        <li> Deeper integration with backend and proper SSE events management, now it is still ad hoc.</li>
        <li> Overall integration testing.</li>
        <li> Prod environment setup and deployment.</li>
      </ol>
      <span> And of course these things are undone, but general concepts works and the application can be developed and tested further!<br></span>
      <span><br></span>
      <span> All in all in the past two weeks I have spent upto 40 hours on this challenge, basically all my free time, because I have my Accenture's project obligation as well. But I must say that I'm very satisfied with the outcome.
        I like to do intensive challenges from time to time, since it really helps to evaluate skills and reveal knowledge gaps.<br></span>
      <span><br></span>
      <span> I also want you to keep in mind: even though I have hands on angular I'm a lot more proficient on backend applications and that's where most of my experience and proficiency comes from.<br></span>
      <span><br></span>
      <span>Thank you!<br></span>
      <span>Georgy Saukov,<br></span>
      <span>Munich, December 2021.</span>

    </mat-card-content>
</mat-card>
